.root {
  text-align: center;
}

body {
  background: #f0f4f7;
}


.header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.intro {
  font-size: 15pt;
}

.videoplayer {
  background-color: pink;
  height: 250px;
}

.search-input-text-field {
  width: 280px;
  float: left;
}

.search-results-container {
  height: 250px;
  overflow-y: scroll;
  margin-top: 10px;
}

.search-result {
  text-align: left;
}

.search-result span {
  line-height: 34px;
}

.search-result img {
  width: 30px;
  height: 30px;
  margin-right: 20px;

}


.search-result img:hover {
  width: 50px;
  height: 50px;
}
