.root {
  text-align: center;
}

.header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.intro {
  font-size: 15pt;
}

.videoplayer {
  background-color: pink;
  height: 250px;
}

.verticalalign {
  display: inline-block;
  vertical-align: middle;
}
